@import "tailwindcss";
@plugin "daisyui" {
  /* see https://github.com/parcel-bundler/lightningcss/issues/968#issuecomment-3448759882 */
  exclude: properties;
  themes:
    bumblebee --default,
    dark --prefersdark;
}
:root {
  --font-size: 1rem;
  --text-base: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}
.btn,
.input,
.select {
  &:focus {
    @apply outline-none;
  }
}
.btn-ghost {
  &:hover {
    --btn-bg: color-mix(in oklch, var(--color-base-300) 99%, #000000);
    background-color: color-mix(in oklab, var(--color-base-300) 10%, transparent);
    border-color: var(--color-base-300);
  }
}
.bg-primary .btn-ghost,
.bg-primary.btn-ghost {
  transition-property: color, background-color, box-shadow;

  &:hover {
    background-color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
    border: none;
  }
}
